@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri/calibri-regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri/calibri-italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri/calibri-bold.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri/calibri-bold-italic.ttf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Calibri", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
